@require "imports/base"

#app
	background #222
	flex-direction column
	justify-content center

section.main
	height 85vh

	div:nth-child(1)
		.barContainer
			.bar
				background linear-gradient(rgba(239, 82, 80, 1) 0%, rgba(251, 138, 0, 1) 100%)
	div:nth-child(2)
		.barContainer
			.bar
				background linear-gradient(rgba(13, 72, 161, 1) 0%, rgba(41, 181, 246, 1) 100%)
	div:nth-child(3)
		.barContainer
			.bar
				background linear-gradient(rgba(56, 142, 61, 1) 0%, rgba(139, 195, 74, 1) 100%)
	div:nth-child(4)
		.barContainer
			.bar
				background linear-gradient(rgba(255, 179, 0, 1) 0%, rgba(255, 238, 88, 1) 100%)
